.sand-background {
	background-color: #EDB458;
}

.darker-green {
	background-color: #EDB458;
}

.catus-green-background {
	background-color: #BAD4AA;
}

.light-green-background {
	background-color: #EBF5DF;
}

#carousel-button:hover {
	background-color: #966518;
}